.Tone-two{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.Tone-two> input{
    width: 65vw;
    margin: 0 auto;
    border-color: black;
    border-width: thin;
    font-size: 2.5vw;
    font-family: Josefin Sans;
    font-style: italic;
}
.Tone-two> button{
    width:300px;
    margin: 5vh auto;
    border-radius: 50%;
    border-color: #3ca57c;
    border-width: thick;
    height: 80px;
    background-color: white;
    font-weight: 600;
    font-size: larger;
    box-shadow: 0 9px #999;
}
.Tone-two>button:hover{
    transform: scale(1.2);
}
.Tone-two>button:active{
    transform: translateY(4);
    box-shadow: 0 6px #669;
}



.Tone-one{
    background: #3ca57c;
    /* border: solid red 5px; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    box-shadow: inset 1px 1px 1000px 15px rgb(0 0 0 / 20%), inset -1px -1px 100px 15px rgb(0 0 0 / 20%);
    /* justify-content: center; */
    /* align-self: center; */

}
.Tone-one > *{
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 12vh;
    color: rgb(253, 250, 250);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.55);
}
h3{
    color: rgb(253, 250, 250);
    font-size: 5vh;
    margin-top: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.55);
}

.container{
    margin-top: 6vh;
    display: flex;
    justify-content: space-around;
    width: 70vw;
    position: relative;
}

label > input{
    appearance: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 4px solid white;
    position: relative;
    right: 6px;
}
label > input:checked {
    background: radial-gradient(white 0%,white 40%,transparent 50%),transparent;
}
label{
    font-size: 1.5rem;
    font-weight: 900;
}

select {
    appearance: none;
    background-color: transparent;
    border-color:  rgba(255,255,255,1);
    border-style: none none solid none;
    border-width: medium;
    text-align: center;
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: 900;
}

.select-selected{
    color: white;
    border: 1px solid white;
}

input{
    appearance: none;
    background-color: transparent;
    border-color:  rgba(255,255,255,1);
    border-style: none none solid none;
    border-width: medium;
    text-align: center;
    font-size: 1.5rem;
}

::placeholder{
    color: black;
    font-weight: 900;
}

#imgD {
    display: none;
}